<!DOCTYPE html>
<html lang="en" class="ui-mobile">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/jquery/jquery.js"></script>
     
    <script src="static/js/jquery/jqm/index.js"></script>
    <script src="static/js/jquery/mobile/jquery.mobile-1.4.5.min.js"></script>
    <script src="static/js/jquery/common.js"></script>

    <link href="static/css/mobile/jquery.mobile-1.4.5.min.css" rel="stylesheet">
    <link href="static/css/rangepicker/daterangepicker.css" rel="stylesheet">
    <link href="static/css/fullcalendar/fullcalendar.min.css" rel="stylesheet">
    <link href="static/css/jqm/jqm-demos.css" rel="stylesheet">
    
    <script src="static/js/jquery/moment.min.js"></script>
    
    <script src="static/js/jquery/rangepicker/daterangepicker.js"></script>
    <script src="static/js/jquery/fullcalendar/fullcalendar.min.js"></script>   
    
</head>
<body>
    <div  data-role="footer">
        <div data-role="navbar">
            <ul>
                <li><a href="#" id="chat" data-icon="custom" data-theme="b">Chat</a></li>
                <li><a href="#" id="email" data-icon="custom" data-theme="b">Email</a></li>
            </ul>
        </div>
        <h4>Page Footer</h4>
    </div>
</body>
</html>